* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c3e50;
  color: white;
  padding: 20px 40px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  color: #e74c3c;
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
  margin-left: 5px;
}

.auth-links {
  display: flex;
  gap: 20px;
}

.auth-button {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.auth-button:hover {
  background-color: #2980b9;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: 500px;
  flex-grow: 1;
}

.main-container {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.main-button {
  padding: 15px 30px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  width: 250px;
}

.main-button:hover {
  background-color: #2980b9;
}
.card {
  width: 300px;
  height: 180px;
  background-image: url("https://unibank.az/uploads/items/o_1g04kl6mn107c1a6lc6btp4pfda.gif");
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 20px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-container .card {
  text-align: start;
  padding: 20px;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card p {
  margin: 5px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0px 40px;
  background-color: #2c3e50;
  color: white;
}

.footer-left,
.footer-right {
  display: flex;
  gap: 20px;
}

.footer-left p {
  font-size: 16px;
}

.footer-right a {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.footer-right a:hover {
  color: #3498db;
}
/* Modal Pencereleri */
.modal,
.modal-history {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content,
.modal-history-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Harcama Geçmişi */
.history-item {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.history-item.incoming {
  color: green;
}

.history-item {
  color: red;
}
button {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 20px;
  display: inline-block;
}

button:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}

button:focus {
  outline: none;
}

button:active {
  background-color: #1f6f8b;
}

.history-item {
  margin-bottom: 15px;
}

.history-item p {
  margin: 5px 0;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

footer {
  background-color: #2c3e50;
  color: white;
  padding: 20px 0;
  margin-top: auto;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0px 40px;
}

.footer-left,
.footer-center,
.footer-right {
  display: flex;
  align-items: center;
}

.footer-left {
  text-align: left;
  gap: 15px;
}

.footer-center {
  justify-content: center;
  text-align: center;
}

.footer-right {
  text-align: right;
  gap: 30px;
}

.footer-left p,
.footer-center p {
  font-size: 16px;
}

.footer-right a {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.footer-right a:hover {
  color: #3498db;
}

.footer-left a {
  color: white;
  text-decoration: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.modal-content button {
  width: 50%;
  padding: 10px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #2980b9;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
